*.o
*.pdf
*.so
*.so.*
version.h
pandapdf
pandapdf.static
pandapdfstatic
*.tar.gz
*.tar.xz
cairo-1.*/
fontconfig-*/
freetype-*/
freetype2/
jbigkit/
poppler-*/
pixman-*/
jpeg-*/
lcms-*/
libpng-*.tar.*
libpng-*/
tiff-*/
libopenjp2*
test/
